# Rename to .env and fill in values

# Where to redirect for the main route.
FALLBACK_URL=

# Redis accessible URL
REDIS_URL=redis://127.0.0.1:6379/0

# Secret token to verify new app key requests.
SECRET_TOKEN=

# The short domain this app is hosted at.
# If setting the domain at request time this will be the default domain if none provided.
SHORT_URL=

# Optional PORT specification
# PORT=7001

# Optional name of CSV report
# LINK_REPORT_CSV_NAME=MPNGIN_Link_Report

# Uncomment when building for release/production.
# KEMAL_ENV=production
