# Rename to .env and fill in values
# Set this to use a different Redis database for testing.
# REDIS_TEST_DATABASE=2
# Where to redirect for the main route.
FALLBACK_URL=
# Main Redis database to use.
REDIS_DATABASE=1
# Secret token to verify new app key requests.
SECRET_TOKEN=
# The short domain this app is hosted at.
SHORT_URL=
