<table class="table">
  <thead>
    <tr>
      <th scope="col">Short Link</th>
      <th scope="col">Expanded Link</th>
      <th scope="col">Request Count</th>
      <th scope="col">Report Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	    <th scope="row"><%= data["short_link"] %></td>
	    <td><%= data["expanded_link"] %></td>
	    <td><%= data["request_count"] %></td>
      <td><%= data["report_date"] %></td>
	  </tr>
  </tbody>
</table>