<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Short Link</th>
      <th scope="col">Expanded Link</th>
      <th scope="col">Request Count</th>
    </tr>
  </thead>
  <tbody>
  <% data.each_with_index do |row, i| %>
    <tr>
      <th scope="row"><%= (i + 1) %></th>
      <td><%= row["short_link"] %></td>
      <td><%= row["expanded_link"] %></td>
      <td><%= row["request_count"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
